<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>footer</title>
    </head>
    <body>
        <footer>
            <!-- 예시! -->
            <div>
                <!-- 큰 영역 (위)-->
                <div>
                    <!-- 큰 영역 (위) 안에 있는 하위 콘텐츠1 -->
                </div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div>
                <!-- 큰 영역(아래) -->
                <div>
                    <!-- 큰 영역 (아래) 안에 있는 하위 콘텐츠1 -->
                </div>
                <div>
                    <!-- 큰 영역 (아래) 안에 있는 하위 콘텐츠2 -->
                </div>
            </div>

            <!--  -->

            Git을 관리하는 형상관리자
        </footer>
    </body>
</html>
