<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mainContainer</title>
        <link rel="stylesheet" href="../resourcese/css/component/mainContainer.css" />
    </head>
    <body>
        <main id="main-contents">
            <!-- contents -->
            <div class="main-logo-section">
                <div class="video">
                    <img src="asset/images/main_logo.svg" alt="INNOIZ" />
                </div>
            </div>

            <div class="creative-section">
                <div class="section-head">
                    <dl class="desc">
                        <dt>
                            <img src="asset/images/tit_creative.svg" alt="DIGITAL & BRAN  EXPERIENCE DESIGN COMPANY" />
                        </dt>
                        <dd class="eng">
                            Founded in 2003 as a UX design agency, <br />
                            INNOIZ is&emsp;a&emsp;&emsp;&emsp;<em>(creative agency)</em> that&emsp;&emsp;&emsp;has
                            expanded its broad experience <br />
                            in&emsp;&emsp;UX/UI Design,&emsp;Apps/Web GUI Design,
                            Branding,&emsp;&emsp;&emsp;&emsp;&emsp;Platform and <br />
                            Content Operations,&emsp;&ensp;Graphic Design,&emsp;&emsp;&emsp;Motion and&ensp;&emsp;Film.
                        </dd>
                        <dd class="kor">
                            2003년 UX 디자인 에이전시로 시작한 INNOIZ는 UX/UI, 모바일 앱, 웹사이트,<br />
                            브랜딩, 플랫폼 및 콘텐츠 운영, 그래픽 디자인, 모션과 광고 영상 등 다양한 분야로 오랜
                            노하우를 확장하고 있는 <br />
                            크리에이티브 에이전시입니다.
                        </dd>
                    </dl>
                </div>

                <h3 class="heading kor fade_ani fade_in">
                    <span>디자인에</span>
                    <span>경계를 두지 않는 </span>
                    <span>크리에이티브.</span>
                </h3>
                <div class="creative-video" id="playSimbol">
                    <div class="video">
                        <video preload="auto" pause loop muted playsinline>
                            <source src="asset/mov/symbol_video.mp4#t=0.001" type="video/mp4" />
                        </video>
                    </div>
                    <p class="caption">
                        We deeply understand the root of the problem,<br />
                        plan a strategy, and clearly target the key to the success of the project.
                    </p>
                </div>
            </div>

            <div class="agency-section">
                <div class="video">
                    <video preload="auto" pause muted playsinline>
                        <source
                            src="asset/mov/typo_video.mp4"
                            type="video/mp4"
                            poster="asset/images/thumb_typo_video.png"
                        />
                    </video>
                </div>
                <div class="keyword fade_ani fade_in">
                    <div>
                        <span>Time</span>
                        <span>People</span>
                    </div>
                    <div>
                        <span>And</span>
                    </div>
                    <div>
                        <span>Expansion</span>
                        <span>experiences</span>
                        <span>Creativity</span>
                    </div>
                </div>
                <div class="agency-video">
                    <div class="video">
                        <video preload="auto" pause muted playsinline>
                            <source
                                src="asset/mov/numbering_video.mp4"
                                type="video/mp4"
                                poster="asset/images/thumb_numbering_video.png"
                            />
                        </video>
                    </div>
                    <p class="caption">
                        1.&ensp; We believe that good design is solving &emsp;&emsp;&emsp;a needS in a <br />
                        compelling way&emsp;&emsp;&emsp; 2.&ensp; Understanding that clarity is the most important<br />
                        point of design, we focus on creating designs to be clear&emsp;&emsp;&emsp;&emsp;&emsp;
                        3.&ensp;By using a&emsp;&emsp;design system, <br />
                        we&emsp;&emsp;strive to keep consistency&emsp;&emsp;in visual style.
                    </p>
                </div>
                <span class="main-line"></span>
            </div>

            <div class="experience-section">
                <h3 class="heading kor fade_ani fade_in">
                    <span>20년 이상의 경험과</span>
                    <span> 맞춤 설계된 풍부한 크리에이티브로 </span>
                    <span>빛나는 서비스와 브랜드를 만들어갑니다</span>
                </h3>
                <div class="caption kor">
                    <div class="fade_ani fade_in">
                        우리는 지난 20년 동안 700건 이상의 프로젝트를 성공적으로 수행해 내며 다양한 업계와 디바이스,
                        <br />
                        플랫폼을 넘나들며 서비스 기획, 정보 설계, 디지털 플랫폼 통합 디자인, 프로젝트 실행과 개발에 대한
                        풍부한 경험을 쌓았습니다.<br />
                        우리는 프로젝트의 상황과 맥락에 따라 세부 단계들을 조절하고 개선과 검증을 빠르게 <br />
                        반복할 수 있는 프로세스를 통해 유연하게 협업합니다.
                    </div>
                </div>
                <div class="video">
                    <video id="line-play" preload="auto" pause muted playsinline>
                        <source src="asset/mov/line_video.mp4" type="video/mp4" />
                    </video>

                    <video id="dot-play" class="blind" preload="auto" loop autoplay muted playsinline>
                        <source src="asset/mov/dot_video.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>

            <div class="fullpage" style="background: var(--black)">
                <div class="flexible-section">
                    <span class="main-line"></span>
                    <div class="section-head">
                        <span>MAKE IT SIMPLE<br />BUT SIGNIFICANT</span>
                        <span>EXPLORE THE EDGE</span>
                        <span>ACROSS THE <br />CREATIV SPECTRUM</span>
                        <span>DRIVEN TO PERFECTION<br />WITH AWARENESS</span>
                    </div>
                    <div class="flexible-video01">
                        <p class="caption kor">
                            프로젝트의 목표를 달성하는 성공의 순간을 떠올려보세요.<br />
                            우리의 모든 크리에이티브는 당신이 꿈꾸는 비전과 아이디어로부터 시작됩니다.<br />
                            이노이즈의 유연한 디자인 프로세스가 당신의 보람찬 상상을 실현시켜 드립니다.
                        </p>
                        <div class="video">
                            <video
                                preload="auto"
                                autoplay
                                loop
                                muted
                                playsinline
                                poster="asset/images/thumb_shapemotion_video.png"
                            >
                                <source src="asset/mov/shapemotion_video.mp4" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                    <div class="flexible-image" id="Play01">
                        <img src="asset/images/flexible_viausl.svg" alt="flexible viausl Design" />
                    </div>
                    <div class="flexible-video02">
                        <dl class="desc">
                            <!-- 
                                data-aos-once="true" 
                            -->
                            <dt>
                                <span
                                    data-aos="fade-in"
                                    data-aos-delay="1700"
                                    data-aos-offset="500"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >eXperience</span
                                >
                            </dt>
                            <dd>
                                <span
                                    data-aos="fade-up"
                                    data-aos-delay="2000"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >We believe it's the detail that makes a </span
                                ><span
                                    data-aos="fade-up"
                                    data-aos-delay="2300"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >&emsp;&emsp;&emsp;design memorable and<br />
                                    compelling. That's why</span
                                ><span
                                    data-aos="fade-up"
                                    data-aos-delay="1900"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >&emsp;&emsp;we &nbsp; focus on the details in order to create</span
                                ><span
                                    data-aos="fade-up"
                                    data-aos-delay="2900"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >&emsp;&emsp;&ensp;a more refined experience.</span
                                ><br />
                                <span
                                    data-aos="fade-up"
                                    data-aos-delay="2750"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >Even the greatest ideas are never realized without</span
                                ><br />
                                <span
                                    data-aos="fade-up"
                                    data-aos-delay="2000"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >the details.</span
                                >
                                <span
                                    data-aos="fade-up"
                                    data-aos-delay="2500"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >&emsp;&ensp;Our experience and</span
                                ><span
                                    data-aos="fade-up"
                                    data-aos-delay="2800"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >&emsp;&emsp;&emsp;&emsp;&emsp;understanding of</span
                                ><span data-aos="fade-up" data-aos-delay="2300"
                                    >&emsp;&emsp;the details over the last 20 years has allowed</span
                                ><br />
                                <span
                                    data-aos="fade-up"
                                    data-aos-delay="3000"
                                    data-aos-once="true"
                                    data-aos-anchor="#Play01"
                                    >us to be the service and brand that delights.</span
                                >
                            </dd>
                        </dl>
                        <div class="video" data-aos="fade-in" data-aos-anchor="#Play01">
                            <video id="circle-play01" preload="auto" pause muted playsinline>
                                <source src="asset/mov/circlering_video01.mp4#t=0.001" type="video/mp4" />
                            </video>
                            <video id="circle-play02" class="blind" preload="auto" loop autoplay muted playsinline>
                                <source src="asset/mov/circlering_video02.mp4#t=0.001" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service-section">
                <div class="video">
                    <video preload="auto" pause muted playsinline poster="asset/images/thumb_dotlogo_video.png">
                        <source src="asset/mov/dotlogo_video.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="inner">
                    <h3 class="heading fade_ani fade_in">
                        <img src="asset/images/tit_creative_service.svg" alt="Intergrated Creative Serivce." />
                    </h3>
                    <p class="caption kor fade_ani fade_in">
                        팀 INNOIZ는 사용자 조사, 출시 전/출시 컨설팅, 프로토타이핑, 서비스 디자인, 브랜딩, 디자인 시스템
                        제작 및 검수, <br />
                        아트 워크, 모션 그래픽 및 기타 크리에이티브 영역을 포함하여 모든 비전과 목표에 맞는 최상의
                        결과를 제공할 수 있는 유연성을 갖추고 있습니다. <br />
                        우리가 제공하는 종합적인 크리에이티브는 고객이 당면한 문제를 해결하는 것은 물론, 브랜드와
                        서비스가 <br />
                        주도적으로 진정한 가치를 만들어낼 수 있는 잠재적 가능성을 설계합니다.
                    </p>
                    <ol class="service-list">
                        <li>
                            <h4 class="item"><img src="asset/images/tit_uidesign.svg" alt="UX / UI Design" /></h4>
                            <p class="item catergory">
                                UX /UI Design<br />
                                UX Strategy<br />
                                Service Design
                            </p>
                            <p class="item role">
                                Website & App GUI Design<br />
                                Research & prototyping
                            </p>
                        </li>
                        <li>
                            <h4 class="item"><img src="asset/images/tit_bxdesign.svg" alt=" BX Design" /></h4>
                            <p class="item catergory">
                                Naming & Logo<br />
                                Visula Identity<br />
                                Brand Application
                            </p>
                            <p class="item role">
                                City Branding<br />
                                Package & Goods<br />
                                Space Design
                            </p>
                        </li>
                        <li>
                            <h4 class="item">
                                <img src="asset/images/tit_film_motion.svg" alt="Film &amp; Motion graphic" />
                            </h4>
                            <p class="item catergory">
                                micro Interaction<br />
                                advertisement<br />
                                UX Movie
                            </p>
                            <p class="item role">
                                Promotion Video<br />
                                Animated logos
                            </p>
                        </li>
                        <li>
                            <h4 class="item">
                                <img src="asset/images/tit_graphic.svg" alt="graphic  &amp; Art Work" />
                            </h4>
                            <p class="item catergory">
                                Marketing Content<br />
                                illustration<br />
                                content operations
                            </p>
                            <p class="item role">
                                Events banner &amp; content<br />
                                Artwork
                            </p>
                        </li>
                    </ol>

                    <div class="service_detail">
                        <ul>
                            <li class="item_ux">
                                <div class="video">
                                    <video preload="auto" pause loop muted playsinline preload="auto">
                                        <source
                                            src="asset/mov/ux_video.mp4#t=0.001"
                                            type="video/mp4"
                                            poster="asset/images/thumb_ux_video.png"
                                        />
                                    </video>
                                </div>
                                <dl class="desc inline">
                                    <dt>
                                        Seamlessly integrate creative<br />
                                        <em>experiences</em>&ensp;&emsp;&emsp; across devices, screens, and spaces.<br />
                                        Find new business opportunities &emsp; through <br />
                                        <span class="t_empty" style="width: 240px"></span>empathy and observation.
                                    </dt>
                                    <dd class="block">
                                        <p class="eng">
                                            Our human-centered approach is used to<br />
                                            translate technology into designs that users can experience.
                                        </p>
                                        <p class="kor">
                                            디바이스와 디지털 공간, 오프라인 경험을 아우르는 <br />
                                            풍부한 경험을 설계합니다.
                                        </p>
                                    </dd>
                                </dl>
                            </li>

                            <li class="item_bx">
                                <div class="video">
                                    <video preload="auto" pause loop muted playsinline preload="auto">
                                        <source
                                            src="asset/mov/bx_video.mp4#t=0.001"
                                            type="video/mp4"
                                            poster="asset/images/thumb_bx_video.png"
                                        />
                                    </video>
                                </div>
                                <dl class="desc">
                                    <dt>
                                        Based on <span class="br" style="width: 28px"></span>&ensp;&emsp;&emsp; a
                                        compelling concept and<br />
                                        narrative, we create and execute events, campaigns, <br />
                                        or any other type of &emsp;&emsp;&emsp;<em>communication</em><br />
                                        <span class="t_empty" style="width: 218px"></span> that inspires customers to
                                        take action.
                                    </dt>

                                    <dd>
                                        <p class="eng">
                                            Creating lasting brand loyalty and building sustainable, meaningful
                                            relationships with your target audience truly begins with a well designed
                                            brand activation strategy.
                                        </p>
                                        <p class="kor">
                                            브랜드의 본질적인 가치를 깊이 <br />
                                            이해하고 시각적으로 표현하며, 소비자가 <br />
                                            브랜드와 만나는 모든 접점을 일관되고<br />
                                            매력적으로 설계합니다.
                                        </p>
                                    </dd>
                                </dl>
                            </li>

                            <li class="item_motion">
                                <div class="video">
                                    <video preload="auto" pause loop muted playsinline>
                                        <source
                                            src="asset/mov/motion_video.mp4#t=0.001"
                                            type="video/mp4"
                                            poster="asset/images/thumb_motion_video.png"
                                        />
                                    </video>
                                </div>
                                <dl class="desc inline">
                                    <dt>
                                        We offer&emsp;&emsp;&emsp;&emsp;<em>>motion-based</em> creativity <br />
                                        that brings &emsp; our designs to a lively and focused <br />
                                        point so that the messages we want to deliver are impactful.
                                    </dt>
                                    <dd class="block">
                                        <p class="eng">
                                            It is not only about creating visually appealing motion, but also about
                                            communicating a message effectively.
                                        </p>
                                        <p class="kor">
                                            UI의 작은 인터렉션부터 브랜딩과 마케팅을 위한 <br />
                                            영상까지 다양한 모션 기반 크리에이티브를 소화합니다.
                                        </p>
                                    </dd>
                                </dl>
                            </li>

                            <li class="item_graphic">
                                <div class="video">
                                    <video preload="auto" pause loop muted playsinline>
                                        <source src="asset/mov/graphic_video.mp4#t=0.001" type="video/mp4" />
                                    </video>
                                </div>
                                <dl class="desc">
                                    <dt>
                                        Working with a number of &emsp;&emsp; <em>artists</em><br />
                                        based on a strategically content approach, <br />
                                        our goal is to produce &emsp; rich and unique graphics that
                                        <span class="t_empty" style="width: 263px"></span>effectively communicate your
                                        message.
                                    </dt>
                                    <dd>
                                        <p class="eng">
                                            A picture is worth a thousand words. <br />
                                            Through a creative graphic design <br />
                                            process that combines art and technology, you can communicate any idea.
                                        </p>
                                        <p class="kor">
                                            콘텐츠 전략을 바탕으로 다양한 아티스트와의 <br />
                                            협업을 통해 메시지를 전달하는 풍부하고 개성적인 <br />
                                            그래픽을 제작합니다.
                                        </p>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="partner-list fullpage">
                <div class="marquee partner-first fade_ani">
                    <div class="marquee-content">
                        <span class="box"><img src="asset/images/partner_banner01.png" alt="" /></span>
                        <span class="box"><img src="asset/images/partner_banner01.png" alt="" /></span>
                        <span class="box"><img src="asset/images/partner_banner01.png" alt="" /></span>
                        <span class="box"><img src="asset/images/partner_banner01.png" alt="" /></span>
                    </div>
                </div>
                <div class="marquee partner-second fade_ani">
                    <div class="marquee-content right">
                        <span class="box"><img src="asset/images/partner_banner02.png" alt="" /></span>
                        <span class="box"><img src="asset/images/partner_banner02.png" alt="" /></span>
                        <span class="box"><img src="asset/images/partner_banner02.png" alt="" /></span>
                        <span class="box"><img src="asset/images/partner_banner02.png" alt="" /></span>
                        <span class="box"><img src="asset/images/partner_banner02.png" alt="" /></span>
                        <span class="box"><img src="asset/images/partner_banner02.png" alt="" /></span>
                    </div>
                </div>
            </div>

            <div class="award-section fullpage">
                <div class="container">
                    <span class="count fade_ani fade_in"> +42 </span>
                    <h3 class="heading fade_ani fade_in">
                        <img src="asset/images/tit_award.svg" alt="AWARD & PERFORMANCE" />
                    </h3>
                    <p class="caption fade_ani fade_in">
                        At INNOIZ we do not follow the classical fields of design. Our goal in <br />
                        design extends beyond <span class="t_empty" style="width: 66px"></span>simply delivering
                        function and a usability solution. Several projects,<br />
                        many of them &emsp; &emsp; &emsp;winning design awards, are a result of &emsp; &emsp;our
                        creative work,<br />
                        recognized both nationally and &emsp; internationally.
                    </p>
                </div>

                <div class="award-list">
                    <div class="award-marquee marquee fade_ani">
                        <div class="marquee-content">
                            <span class="box"><img src="asset/images/award_thumbs01.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs02.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs03.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs04.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs05.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs06.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs07.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs08.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs09.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs10.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs11.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs12.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs13.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs14.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs15.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs16.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs17.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs18.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs19.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs20.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs21.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs22.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs23.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs24.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs25.png" alt="" /></span>

                            <span class="box"><img src="asset/images/award_thumbs01.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs02.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs03.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs04.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs05.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs06.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs07.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs08.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs09.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs10.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs11.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs12.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs13.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs14.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs15.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs16.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs17.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs18.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs19.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs20.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs21.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs22.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs23.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs24.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs25.png" alt="" /></span>

                            <span class="box"><img src="asset/images/award_thumbs01.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs02.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs03.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs04.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs05.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs06.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs07.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs08.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs09.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs10.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs11.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs12.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs13.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs14.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs15.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs16.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs17.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs18.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs19.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs20.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs21.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs22.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs23.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs24.png" alt="" /></span>
                            <span class="box"><img src="asset/images/award_thumbs25.png" alt="" /></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partner-section">
                <h3 class="heading fade_ani fade_in">
                    <img src="asset/images/tit_digitalbrand.svg" alt="DIGITAL & BRAND EXPERIENCE" />
                </h3>
                <p class="caption kor fade_ani fade_in">
                    우리는 사람을 위해 디자인합니다. INNOIZ는 프로세스와 필드를 뛰어넘어 <br />
                    커뮤니케이션을 중심으로 연결되는 지속가능한 관계를 통해 좋은 경험을 만들어나갈 파트너를 기다립니다.
                </p>
            </div>

            <!-- //contents -->
        </main>
    </body>
</html>
