<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>다이소몰</title>
        <link rel="stylesheet" href="../header/css/header.css" />
    </head>
    <body>
        <header id="header">
            <div class="header-main">
                <div class="header-wrap">
                    <div class="grid-wrap">
                        <h1 id="logo">
                            <a href="#home">
                                <img
                                    src="../header/images/0FCqXJMkLcc1jF2VkZQ2KkaxzahgdLcRuKrqsVJZpc_minignb_daiso_logo_2KkaxzahgdLcRuKrqsVJZ0FCqXJMkLcc1jF2VkZQ2.png"
                                    alt="다이소 LOGO"
                                />
                            </a>
                        </h1>
                        <div class="header-cont">
                            <form class="search" action="#" method="get">
                                <input class="search-bar" type="text" placeholder="검색어를 입력하세요" />
                                <button class="search-bt"></button>
                            </form>
                            <div class="search-realtime">동파육</div>
                        </div>
                        <div class="header-util">
                            <div class="h-util-today">오늘의 발견</div>
                            <ul class="h-util-icon">
                                <li>마이페이지</li>
                                <li>장바구니</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="nav-wrap">
                    <div class="nav-catg">
                        <div class="all-menu"></div>
                        <div class="event-bt">다꾸페</div>
                        <ul class="catg">
                            <li>홈</li>
                            <li>신상</li>
                            <li>랭킹</li>
                            <li>기획전</li>
                            <li>뷰티</li>
                        </ul>
                    </div>
                    <ul class="nav-util">
                        <li>로그인</li>
                        <li>회원가입</li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>
