<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>다이소몰</title>

        <!-- 라인 어썸 -->
        <link
            rel="stylesheet"
            href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
        />
        <link rel="stylesheet" href="../header/css/header2.css" />
    </head>
    <body>
        <header id="header">
            <div class="header-main">
                <div class="header-wrap">
                    <div class="grid-wrap">
                        <h1 id="logo">
                            <a href="#home">
                                <img
                                    src="../header/images/0FCqXJMkLcc1jF2VkZQ2KkaxzahgdLcRuKrqsVJZpc_minignb_daiso_logo_2KkaxzahgdLcRuKrqsVJZ0FCqXJMkLcc1jF2VkZQ2.png"
                                    alt="다이소 LOGO"
                                />
                            </a>
                        </h1>
                        <div class="header-cont">
                            <form class="search" action="#" method="get">
                                <input class="search-bar" type="text" placeholder="검색어를 입력하세요" />
                                <button class="search-bt">
                                    <!-- <div class="search-bt-icon"></div> -->
                                </button>
                            </form>
                            <ul class="search-realtime">
                                <li class="ranking">14</li>
                                <li>
                                    <a href="#">동파육</a>
                                </li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-util">
                            <div class="h-util-today">
                                <img src="../header/images/util-today.png" alt="오늘의 발견" />
                            </div>
                            <ul class="h-util-icon">
                                <li class="my-page">마이페이지</li>
                                <li class="cart">장바구니</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="nav-wrap">
                    <div class="nav-catg">
                        <div class="all-menu"></div>
                        <div class="event-bt">
                            <img
                                src="../header/images/M4OYrFA5mHGOmPeoRb34이지웨어_GNBM4OYrFA5mHGOmPeoRb34.jpg"
                                alt="패션신상템"
                            />
                        </div>
                        <ul class="catg">
                            <li><a href="#">홈</a></li>
                            <li><a href="#">신상</a></li>
                            <li><a href="#">랭킹</a></li>
                            <li><a href="#">기획전</a></li>
                            <li><a href="#">뷰티</a></li>
                        </ul>
                    </div>
                    <ul class="nav-util">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>
