@import url(/study/작업물/cloneCoding/DaisoMall/components/header/header.css);
@import url(/study/작업물/cloneCoding/DaisoMall/components/footer/footer.css);
* {
    font-family: Pretendard;
    font-weight: 400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.title-area {
    .title-h2 {
        display: block;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -3px;
        line-height: 1;
        margin: 24px 0 30px 150px;
        text-align: left;
        color: #161d24;
    }
    .total {
        color: #28323c;
        font-size: 16px;
        font-weight: 700;
        margin-left: 187px;
        margin-bottom: 24px;
        .num {
            color: #d70011;
            font-weight: 700;
        }
    }
}

#container2 {
    ul {
        display: flex;
        gap: 28px;
        justify-content: center;
        margin-bottom: 34px;
        margin-left: 344px;
        margin-right: 344px;
    }
    li {
        list-style: none;
    }
    img {
        object-fit: cover;
        width: 233px;
        height: 311px;
    }
    .price {
        font-size: 22px;
        line-height: 30.8px;
        margin-bottom: 9px;
    }
    .price span {
        font-weight: 700;
        font-size: 22px;
        line-height: 30.8px;
    }
    .detail {
        margin-bottom: 36.8px;
        font-size: 18px;
        line-height: 25.2px;
        position: relative;
    }
    .detail span {
        padding-right: 6.66px;
        margin-right: 6.66px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25.2px;
    }
    .detail span:after {
        content: '|';
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        top: 0;
        left: 51px;
        color: #cccccc;
    }
    .label {
        background: #d70011;
        border-radius: 4px;
        width: 55px;
        text-align: center;
    }
    .label span {
        font-size: 13px;
        line-height: 5px;
        color: #fff;
    }
    .img-cont {
        margin-bottom: 10px;
    }
}
