body {
    margin: 0;
}
#footer {
    background-color: #000;
    color: #fff;
    padding: 108px 40px 80px 40px;
}
.footer-contents {
    display: flex;
    width: 100%;
    padding: 0 var(--p-cntr);
}

.footer-contents .copy {
    flex: none;
    width: 702px;
    font-weight: 400;
    line-height: 126%;
    text-transform: uppercase;
    text-indent: 124px;
}
.footer-contents .contact {
    display: flex;
    flex: 1 1 0;
    list-style: none;
}
.footer-contents .contact li {
    margin-left: 118px;
    color: #777777;
    line-height: 1.28;
}
.footer-contents .contact li a {
    text-decoration: none;
    color: #777777;
}
.footer-contents .contact li:first-child {
    margin-left: 0;
}
.footer-contents .contact li:last-child {
    flex: none;
    margin-left: auto;
}
.footer-contents .contact li strong {
    display: block;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 10px;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    color: #777777;
    margin-top: 213px;
}
.footer-links .follow-menu {
    display: flex;
    list-style: none;
}
