<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>다이소몰</title>
    </head>
    <body>
        <h1>
            <a href="https://www.daisomall.co.kr/ds"><img src="diasologo" alt="다이소 로고" /></a>
        </h1>
        <div class="wrap">헤더랩</div>
        <div class="cont">헤어 컨텐츠</div>
        <legend>검색</legend>
        <label for="검색">최근 검색어</label>
        <input type="text" />
        <div class="마이페이지">
            <a href="마이페이지">마이페이지<img src="유저 로고" alt="마이페이지" />
            </a>
            <div class="장바구니">
                <a href="장바구니">장바구니<img src="장바구니 로고" alt="장바구니" />
                </a>

                <nav class="gnb">
                  <a href="삼선링크"></a>
                  <div class="다꾸패"><a href="#">다꾸패</a></div>
                  <div class="홈"><a href="#">홈</a></div>
                  <div class="신상"><a href="#">신상</a></div>
                  <div class="랭킹"><a href="#">랭킹</a></div>
                  <div class="기획전"><a href="#">기획전</a></div>
                  <div class="뷰티"><a href="#">뷰티</a></div>
                  <div class="로그인"><a href="#">로그인</a></div>
                  <div class="로그인"><a href="#">로그인</a></div>
                </nav>
                
                </div>
            </div>
        </div>
    </body>
</html>
